;;Iqbal Note:
;; use tab to format after editing
;; specific rule should come first
;; generic rules should come next
;;======================================

;; :!Ca is keycode :a and prefix a with !C

    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | command + control + optional + shift (hyper)
    
    ;; code for all this:
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/b9b334a187379f9bc8182ad59e2cca2a1789e9c0/src/karabiner_configurator/keys.clj#L68

    ;; to understand better how modifiers work in karabiner
    ;; karabiner definition of mandatory and optional
    ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

    ;; !  | mandatory
    ;;                  modifier *has* to be present for event to occur
    ;;                  modifier is removed in output (to event)
    ;; #  | optional (single)
    ;;                  one of the optional modifiers has to exist but not all
    ;;                  only this modifier has to exist, combining with another won't work
    ;;                  modifier is kept in output (to event)
    ;; ## | optional any
    ;;                  what you would expect, everything is tacked on

    ;; need to prefix C T O S F with ! or #
    ;;

    {:profiles {:Default {:default true
                          :sim 50
                          :delay 500
                          :alone 1000
                          :held 500}}
     :applications {:Chrome ["^com\\.google\\.Chrome$"] 
                    :browsers ["^com\\.google\\.Chrome$" "^com\\.apple\\.Safari$"]
                    :VSCode ["^com\\.microsoft\\.VSCode?$"]}
     :layers {:caps_mode {:key :caps_lock :alone {:key :escape}}
              :tab_mode {:key :tab}
              :chrome_mode {:key :caps_lock :alone {:key :escape} :condi :Chrome }
              :vscode_mode {:key :caps_lock :alone {:key :escape} :condi :VSCode}}

     :simlayers {:slash_mode {:key :slash}
                 :vscode_slash_mode {:key :slash :condi :VSCode}} ;; templates

     :templates {:km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
                 :open "open \"%s\""
                 :hsl        "/usr/local/bin/hs -A -n -q -t 0.1 -c 'hs.application.launchOrFocus(\"%s\")'"}

     :main [;; 	 {:des "a to 1, b to 2, c to insert 1 2 3"
            ;;  :rules [[:left_command :left_command nil {:alone :!Cd}]fkjkkjjkjjljlfjadf sfjsdlfjlj sfsjdlfjla fljljkklj sfsdlfjlsj flsjflsjdf
            ;;          [{:key :spacebar :modi :left_shift} [:spacebar :equal_sign :spacebar]]
            ;; 							  ; = 
            ;;          ]}
            {:des "when inside browsers"
             :rules [:chrome_mode
                     ;;[:##v :!Cw]
                     [:##j :!COleft_arrow] ;;previous tab
                     [:##k [:km "Chrome: scroll down"]]
                     [:##i [:km "Chrome: scroll up"]]
                     [:##l :!COright_arrow] ;;next tab
                     [:##h :!Cw]
                     [:##semicolon :!Ct]
                     [:##y :!C1]
                     [:##u :!C2]
                     [:##o :!C9]
                     [:##p :!Cp]]} ;;close tab
            {:des "when inside vscode"
             :rules [:vscode_mode
                     ;;[:##v :!Cw]
                     [:##j :left_arrow]
                     [:##k :down_arrow]
                     [:##i :up_arrow]
                     [:##l :right_arrow]
                     [:##h :delete_or_backspace]
                     [:##u :!Cleft_arrow]
                     [:##o :!Cright_arrow]
                     [:##p :!Cp]
                     [:##spacebar :!Cspacebar]
                     [:f :left_shift]
                     [:semicolon :return_or_enter]

                     [:d :left_option]
                     [:##m :!!m]
                     ;[:##n :!Cm]
                     [:y :!OSgrave_accent_and_tilde] ;;switch from editor<->terminal
                     [:comma :!CTcomma] ;;switch editor/terminal panel left
                     [:period :!CTperiod] ;;swith editor/terminal right
                     [:backslash :!Cbackslash]
                     [:open_bracket :!CTSleft_arrow]
                     [:close_bracket :!CTSright_arrow]
                     [:quote :!Cx]
                     :vscode_slash_mode
                     [:##f :!Cf] ;;search
                     [:##d :!Cd]]
					 } ;;close tab
            {:des "caps lock layer"
             :rules [:caps_mode
                     [:##j :left_arrow :!browsers]
                     [:##k :down_arrow :!browsers]
                     [:##i :up_arrow :!browsers]
                     [:##l :right_arrow :!browsers]
                     [:##h :delete_or_backspace :!browsers]
                     [:##semicolon :return_or_enter :!browsers]
                     [:##u :!Cleft_arrow :!browsers]
                     [:##o :!Cright_arrow :!browsers]
                     [:##p :!Cp]

                     [:##spacebar :!Cspacebar]
                     [:f :left_shift :!browsers]]}
      		;; {:des "semicolon layer"
            ;;  :rules [:semicolon_mode
            ;;          [:r [:semicolon :g]]]}
            {:des "Tab mode layer"
             :rules [:tab_mode
                     [:##j :!TO7] ;btt: click left monitor left half
                     [:##k :!TO6] ;btt: click left monitor right half
                     [:##l :!TO5] ;btt: click right monitor left half
                     [:##semicolon :!TO4] ;btt: click right monitor right half
                     [:##h :!Tleft_arrow] ;switch desktop left
                     [:##quote :!Tright_arrow] ;switch desktop right
                     [:##m :!CTf]
                     [:##n :!Cm]]}
            ;; {:des "Open application"
            ;;  :rules [[[:semicolon :c] [:km "Chrome: Open Personal profile"]]
            ;;          [[:semicolon :e] [:km "Evernote: Activate"]]
            ;;          [[:semicolon :f] [:km "Foxit Reader: Activate"]]
            ;;          [[:semicolon :g] [:km "Github Desktop: Activate"]]
            ;;          [[:semicolon :s] [:km "Slack: Activate"]]
            ;;          [[:semicolon :t] [:km "Terminal: activate"]]
            ;;          [[:semicolon :v] [:km "VSCode: Activate"]]
            ;;          [[:semicolon :w] [:km "Chrome: Open Work Profile"]]
            ;;          [[:a :p] [:km "VSCode: Open Project"]]
            ;;          [[:a :n] [:km "Notion: Activate"]]]}
            {:des "Open application"
             :rules [:slash_mode
                     [:c [:km "Chrome: Open Personal profile"]]
                     [:e [:km "Evernote: Activate"]]
                     [:f [:km "Foxit Reader: Activate"]]
                     [:g [:km "Github Desktop: Activate"]]
                     [:s [:km "Slack: Activate"]]
                     [:t [:km "Terminal: activate"]]
                     [:v [:km "VSCode: Activate"]]
                     [:w [:km "Chrome: Open Work Profile"]]
                     [:p [:km "VSCode: Open Project"]]
                     [:n [:km "Notion: Activate"]]]}]}
