;;Iqbal Note:
;; use tab to format after editing
;; specific rule should come first
;; generic rules should come next
;;======================================

;; :!Ca is keycode :a and prefix a with !C

    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | command + control + optional + shift (hyper)
    
    ;; code for all this:
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/b9b334a187379f9bc8182ad59e2cca2a1789e9c0/src/karabiner_configurator/keys.clj#L68

    ;; to understand better how modifiers work in karabiner
    ;; karabiner definition of mandatory and optional
    ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

    ;; !  | mandatory
    ;;                  modifier *has* to be present for event to occur
    ;;                  modifier is removed in output (to event)
    ;; #  | optional (single)
    ;;                  one of the optional modifiers has to exist but not all
    ;;                  only this modifier has to exist, combining with another won't work
    ;;                  modifier is kept in output (to event)
    ;; ## | optional any
    ;;                  what you would expect, everything is tacked on

    ;; need to prefix C T O S F with ! or #
    ;;

    {:profiles {:Default {:default true
                          :sim 50
                          :delay 500
                          :alone 1000
                          :held 100}}
     :applications {:Chrome ["^com\\.google\\.Chrome$"]
                    :browsers ["^com\\.google\\.Chrome$" "^com\\.apple\\.Safari$"]
                    :VSCode ["^com\\.microsoft\\.VSCode?$"]
                    :Github ["^com\\.github\\.GitHubClient$"]
                    :Zoom ["^us\\.zoom\\.xos$"]
                    :Postman ["^com\\.postmanlabs\\.mac$"]
                    :Evernote ["^com\\.evernote\\.Evernote$"]}
     :layers {:caps_mode {:key :caps_lock :alone {:key :escape}}
              :tab_mode {:key :tab}
              :chrome_mode {:key :caps_lock :alone {:key :escape} :condi :Chrome}
              :vscode_mode {:key :caps_lock :alone {:key :escape} :condi :VSCode}
              :github_mode {:key :caps_lock :alone {:key :escape} :condi :Github}
              :zoom_mode {:key :caps_lock :alone {:key :escape} :condi :Zoom}
              :postman_mode {:key :caps_lock :alone {:key :escape} :condi :Postman}
              :evernote_mode {:key :caps_lock :alone {:key :escape} :condi :Evernote}
              :slash_mode {:key :slash :alone {:key :slash}}
              :open_bracket_mode {:key :open_bracket :alone {:key :open_bracket}}
:close_bracket_mode {:key :close_bracket :alone {:key :close_bracket}}
              ;;:vscode_slash_mode {:key :slash :alone {:key :slash} :condi :VSCode}
              :vscode_tab_mode {:key :tab :alone {:key :tab} :condi :VSCode}
              :vscode_return_mode {:key :return_or_enter :alone {:key :return_or_enter} :condi :VSCode}
              :return_mode {:key :return_or_enter :alone {:key :return_or_enter}}}

     :simlayers {} ;; templates

     :templates {:km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
                 :open "open \"%s\""
                 :code "/usr/local/bin/code \"%s\"" ;;full path of the app is needed if installed using brew
                 :hsl        "/usr/local/bin/hs -A -n -q -t 0.1 -c 'hs.application.launchOrFocus(\"%s\")'"}

     :main [;; 	 {:des "a to 1, b to 2, c to insert 1 2 3"
            ;;  :rules [[:left_command :left_command nil {:alone :!Cd}]fkjkkjjkjjljlfjadf sfjsdlfjlj sfsjdlfjla fljljkklj sfsdlfjlsj flsjflsjdf
            ;;          [{:key :spacebar :modi :left_shift} [:spacebar :equal_sign :spacebar]]
            ;; 							  ; = 
            ;;          ]}
            {:des "when inside browsers"
             :rules [:chrome_mode
                     ;;[:##v :!Cw]
                     [:##h :!COleft_arrow] ;;previous tab
                     [:##j [:km "Chrome: scroll down"]]
                     [:##k [:km "Chrome: scroll up"]]
                     [:##l :!COright_arrow] ;;next tab
                     [:##n :!Cw]
                     [:##i :!Cl]
                     [:##y :!C1]
                     [:##o :!Ct]
                     [:##p :!Cp]
                     [:semicolon [:km "Chrome: Close all tab except 1st"]]
                     [:##open_bracket :!C1] ;same as Cy
                     [:##close_bracket [:!C9]]
                     [:comma :!Copen_bracket] ;go back history
                     [:period :!Cclose_bracket] ;go forward history
                     [:##u :up_arrow]
                     [:##m :down_arrow]]} ;;close tab
            {:des "when inside Github"
             :rules [:github_mode
                     ;;[:##v :!Cw]
                     ;[:##h :!C1] ;;changes  
                     [:##h [:km "Github Desktop: Go to Changed Files"]]
                     [:##j :down_arrow] ;;move change file down
                     [:##k :up_arrow] ;;move change file up
                     [:##u :!Cp] ;;push
[:##m :!CSp] ;;pull  
                     [:##l :!C2] ;;history
                     [:##i :!Cg] ;;go to commit summary box
                     [:##o :!Cb] ;;branch
                     ;[:##l :!Cg] ;;next tab 
                     [:##p :!Ct] ;;repository
                     ;;[:##h :!Cw]
                     [:##semicolon :!Creturn_or_enter]

                     ;[:##p :!Ct]]
]} ;;close tab

            {:des "when inside Zoom"
             :rules [:zoom_mode
                     ;;[:##v :!Cw]
                     [:h :!CSv] ;video
                     [:j :!CSa] ;;mute / unmute
                     [:k :!CSs] ;;screen share
                     [:p :!Cu]
                     [:n :!Cw]]}
            {:des "when inside Postman"
             :rules [:postman_mode
                     ;;[:##v :!Cw]
                     [:h :!CSopen_bracket] ;previous tab
                     [:l :!CSclose_bracket] ;next tab
                     [:semicolon :!Creturn_or_enter] ;send request
                     ]}
            {:des "when inside Evernote"
             :rules [:evernote_mode
                     ;;[:##v :!Cw]
                     [:##h :left_arrow :!browsers]
                     [:##j :down_arrow :!browsers]
                     [:##k :up_arrow :!browsers]
                     [:##l :right_arrow :!browsers]
                     [:##n :delete_or_backspace :!browsers]
                     [:##semicolon :!Ssemicolon :!browsers]
                     [:##u :!Cleft_arrow :!browsers]
                     [:##o :!Cright_arrow :!browsers]
                     [:p :!Cj] ;switch to
                     [:i :!Cn] ;new note
                     [:f :!OCf]
                     [:comma :!Copen_bracket] ;go previous
                     [:period :!Cclose_bracket] ;go next
                     ]}

            {:des "when inside vscode"
             :rules [:vscode_mode
                     ;;[:##v :!Cw]
                     [:##h :left_arrow :!browsers]
                     [:##j :down_arrow :!browsers]
                     [:##k :up_arrow :!browsers]
                     [:##l :right_arrow :!browsers]
                     [:##n :delete_or_backspace :!browsers]
                     [:##i :!Cd] ;;select word/multiple words
                     ;;[:##semicolon :!Ssemicolon :!browsers]
                     [:##u :!Cleft_arrow :!browsers]
                     [:##o :!Cright_arrow :!browsers]
                     [:##p :!Cp]
                     [:##spacebar :!Cspacebar]
                     [:f :left_shift :!browsers]
                     [:y :!OSgrave_accent_and_tilde] ;;switch from editor<->terminal

                     [:d :left_option]
                     [:##m :!!m]
                     ;[:##n :!Cm]

                     [:comma :!CTcomma] ;;switch editor/terminal panel left
                     [:period :!CTperiod] ;;swith editor/terminal right
                     [:backslash :!Cbackslash]
                     [:semicolon :!TOsemicolon]
[:quote :!Thyphen]
                     [:open_bracket :!CTSleft_arrow] ;;increase selection
                     [:close_bracket :!CTSright_arrow];;decrease selection
                     [:quote :!Squote]
                     [:9 :!S9]
                     [:0 :!S0]

                     :vscode_tab_mode
               		;;generic
                     [:##j :!TO7] ;btt: click left monitor left half
                     [:##k :!TO6] ;btt: click left monitor right half
                     [:##l :!TO5] ;btt: click right monitor left half
                     [:##semicolon :!TO4] ;btt: click right monitor right half
                     [:##h :!Tleft_arrow] ;switch desktop left
                     [:##quote :!Tright_arrow] ;switch desktop right
                     ;[:##m :!CTf];full-screen or un-full-screen
                     [:##m :!TOreturn_or_enter] ;zoom
                     [:##n :!Cm] ;minimize
                     [:##comma :!CTOleft_arrow]
                     [:##period :!CTOright_arrow]
                     [:##open_bracket :!TOleft_arrow]
                     [:##close_bracket :!TOright_arrow]
                     [:y :!Tgrave_accent_and_tilde]

                     [:9 :!CTOopen_bracket]
                     [:0 :!CTOclose_bracket] ;;decrease split window size
                     [:backslash :!Cslash] ;;increase split window size	
                     :vscode_return_mode
                     [:t :!CSf] ;; search
                     [:r :!Ff4] ;; rotate through search
                     [:##c :!Cc]
                     [:##v :!Cv]
[:##z :!Cz]
[:##s :!Cs] ;;save
[:##d :!Cd]
[:##x :!Cx]
[:##q :!Cq]
[:##f :!Cf]
[:##b :!Cb] ;; show hide search bar
               					;:vscode_slash_mode
                     ;[:f :!Cf] ;;search
                     ;[:a :!Cs] ;;save all files
                     ]}
            {:des "caps lock layer"
             :rules [:caps_mode
                     [:##h :left_arrow :!browsers]
                     [:##j :down_arrow :!browsers]
                     [:##k :up_arrow :!browsers]
                     [:##l :right_arrow :!browsers]
                     [:##n :delete_or_backspace :!browsers]
                     [:##semicolon :!Ssemicolon :!browsers]
                     [:##u :!Cleft_arrow :!browsers]
                     [:##o :!Cright_arrow :!browsers]
                     [:##p :!Cp]
                     [:##spacebar :!Cspacebar]
                     [:f :left_shift :!browsers]
                     ;;[:##c :!Cc]
                     ;;[:##v :!Cv]
                     ]}
      		;; {:des "semicolon layer"
            ;;  :rules [:semicolon_mode
            ;;          [:r [:semicolon :g]]]}
            {:des "Tab mode layer"
             :rules [:tab_mode
                     [:##j :!TO7] ;btt: click left monitor left half
                     [:##k :!TO6] ;btt: click left monitor right half
                     [:##l :!TO5] ;btt: click right monitor left half
                     [:##semicolon :!TO4] ;btt: click right monitor right half
                     [:##h :!Tleft_arrow] ;switch desktop left
                     [:##quote :!Tright_arrow] ;switch desktop right
                     [:##m :!TOreturn_or_enter] ;zoom
               		;[:##m :!CTf];full-screen or un-full-screen
                     [:##n :!Cm] ;minimize
                     [:##comma :!CTOleft_arrow]
                     [:##period :!CTOright_arrow]
                     [:##open_bracket :!TOleft_arrow]
                     [:##close_bracket :!TOright_arrow]

               					 ;[:slash :p]
                     [:y [:km "Window: switch full-screen window"]]]}
            ;; {:des "Open application"
            ;;  :rules [[[:semicolon :c] [:km "Chrome: Open Personal profile"]]
            ;;          [[:semicolon :e] [:km "Evernote: Activate"]]
            ;;          [[:semicolon :f] [:km "Foxit Reader: Activate"]]
            ;;          [[:semicolon :g] [:km "Github Desktop: Activate"]]
            ;;          [[:semicolon :s] [:km "Slack: Activate"]]
            ;;          [[:semicolon :t] [:km "Terminal: activate"]]
            ;;          [[:semicolon :v] [:km "VSCode: Activate"]]
            ;;          [[:semicolon :w] [:km "Chrome: Open Work Profile"]]
            ;;          [[:a :p] [:km "VSCode: Open Project"]]
            ;;          [[:a :n] [:km "Notion: Activate"]]]}
            {:des "Open application"
             :rules [:slash_mode
                     [:b [:km "Obsidian: Activate"]]
                     [:c [:km "Chrome: Open Personal profile"]]
                     [:d [:km "Word: Activate"]]
                     [:e [:km "Evernote: Activate"]]
                     [:f [:km "Foxit Reader: Activate"]]
                     [:g [:km "Github Desktop: Activate"]]
                     [:j [:km "Jira: Activate"]]
                     [:k [:km "KM: Activate"]]
                     [:m [:km "MySocials: Activate"]]
                     [:n [:km "Notion: Activate"]]
                     [:o [:km "VSCode: Open Project"]]
                     [:p [:km "PGAdmin: Activate"]]
                     [:r [:km "Postman: Activate"]]
                     [:s [:km "Slack: Activate"]]
               					 ;[:s [:km "Slack: Activate"]]
                     [:t [:km "Terminal: activate"]]
                     [:v [:km "VSCode: Activate"]]
                     [:w [:km "Chrome: Open Work Profile"]]
                     [:z [:km "Zoom: Activate"]]
                     [:grave_accent_and_tilde [:km "VSCode: Open Karabiner Goku"]]
                     [:1 [:km "VSCode: Open Iotah App"]]
                     [:2 [:km "VSCode: Open Switch App"]]
                     [:3 [:km "VSCode: Open Iotemeter App"]]
                     [:4 [:km "VSCode: Open Iotah Web"]]
                     [:5 [:km "VSCode: Open Switch Web"]]
                     [:6 [:km "VSCode: Open Iotemeter Web"]]
                     :open_bracket_mode
                     [:g [:km "Gmail-WorkColab: Activate"]]
                     [:s [:km "Slack-WorkColab: Activate"]]
                     [:w [:km "WhatsApp-MySocials: Activate"]]
                     [:e [:km "Gmail-MySocials: Activate"]]
                     [:t [:km "Telegram-MySocials: Activate"]]
                     [:r [:km "Messenger-MySocials: Activate"]]]}

            {:des "Some Misc. Tasks"
             :rules [:close_bracket_mode
                     [:c :!COc]
                     [:x :!TCS4]] ;;take screenshot clip
             }

            {:des "On hold Enter"
             :rules [:return_mode
                     [:##c :!Cc]
                     [:##v :!Cv]
                     [:##z :!Cz]
                     [:##s :!Cs]
                     [:##d :!Cd]
                     [:##x :!Cx]
                     [:##q :!Cq]
                     [:##f :!Cf]]}]}
